fastapi
uvicorn[standard]
sqlalchemy
sqlmodel
psycopg2-binary
alembic
python-jose[cryptography]
passlib[bcrypt]==1.7.4
bcrypt==4.0.1
python-dotenv
jinja2
python-multipart
email-validator
pdfplumber
numpy
fastembed
google-api-python-client
google-auth-oauthlib
google-auth-httplib2
python-dateutil
pyngrok
google-generativeai
pytz
apscheduler
